html {
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(transparent, blueviolet);
    background-repeat: no-repeat;
    background-size: auto;
}
.container {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
.inner-container {
    width: 1080px;
}
h1 {
    font-size: 42px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
input {
    border: none;
    display: block;
    width: 98.4%;
    line-height: 1.5;
    padding: 8px 0 8px 10px;
    border-bottom: 1px solid #cfcbcc;
    outline:0;
}
.input-todo {
    width: 800px;
    height: 50px;
    font-size: 50px;
    color: #000000;
}
li {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 25px;
    height: 100%;
    overflow-y: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px 0;

    &:before {
         content: "\25A1";
         padding: 10px 10px;
         font-size: 20px;
     }
    &:hover {
         text-decoration: line-through;
         cursor: pointer;
     }
    &:last-child {
         border-bottom: none;
 }
}

.checked {
    color:gold;
&:before {
     content: "\2713";
     padding: 10px 10px;
     font-size: 20px;
 }
&:hover {
     text-decoration: none;
 }
&:after {
     content: "(remove)";
     color: tomato;
     text-align: right;
 }
